.footer-wrapper {
  background-color: var(--secondary-color);
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.footer__links {
  display: flex;
  background-color: var(--secondary-color);
  width: 100%;
  justify-content: space-between;
}

.copy-right {
  display: flex;
  border-top: 1px solid grey;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  z-index: 5;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

.footer__content {
  color: #afbed2;
  font-size: 18px;
}

.footer__title {
  color: var(--primary-color);
  font-size: 24px;
}

.footer_link {
  color: #afbed2;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
}

.map__container {
  border-radius: 10px;
}

.map__container > iframe {
  border-radius: 10px;
  margin: 1rem;
}

.footer__logo {
  width: 120px;
  margin: 1rem 0rem;
}

.section__wrapper {
  margin-bottom: 1.5rem;
}

.social-media__icon {
  height: 30px;
  margin: 0.5rem;
}

.social-media__wrapper {
  display: flex;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pull-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.footer__phone-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__phone-number {
  color: #afbed2;
  font-size: 18px;
  font-weight: 300;
  margin: 0rem 0.3rem;
}

.footer {
  padding: 4rem 2rem 0rem 2rem;
}

.footer-wrapper__web {
  display: flex;
  background-color: var(--secondary-color);
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.footer__column {
  flex: 1;
}

.section-1 {
  flex: 1;
}

.section-2 {
  flex: 1;
}

.section-3 {
  flex: 2;
}

.section-4 {
  flex: 1.5;
}

.address__content {
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 2rem 2rem 0rem 2rem;
  }

  .footer__title {
    margin-bottom: 0.5rem;
    font-size: 20px;
  }

  .footer__content, .footer_link, .footer__phone-number {
    font-size: 16px;
  }
  
  .section__wrapper {

  }

  .copy-right {
    font-size: 14px;
    text-align: center;
  }

  .footer__logo {
    margin: 1rem 0rem;
  }

  .footer__phone-wrapper {
    display: flex;
    flex-direction: column;
  }

  .map__container > iframe {
    margin: 0rem;
  }

  .footer-row {
    margin-top: 2rem;
  }
}