.ratings-card__container {
  border: solid 2px #e3e9ec;
  background-color: #fff;
  border-radius: 20px;
  padding: 1.5rem 2rem 0.5rem 2rem;
  min-width: 400px;
  margin: 1rem 0rem;
}

.ratings-card__logo {
  height: 35px;
}

.ratings__info {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.ratings__aggregate {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
}

.ratings__star-container {
  color: var(--primary-color);
  font-size: 32px;
  padding: 0 2rem;
}

.ratings__total-count {
  font-size: 18px;
  color: var(--content-color);
  line-height: normal;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .ratings-card__container {
    min-width: unset;
    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
  }
  .ratings__aggregate {
    font-size: 26px;
  }
  .ratings__star-container {
    font-size: 24px;
    padding: 0 1rem;
  }
  .ratings__total-count {
    font-size: 12px;
    /* display: block; */
    padding: 1rem 0rem;
  }
  .ratings__info {
    display: block;
  }
  .ratings-card__logo {
    height: 20px;
  }
}